include ../components/_Card.pug

doctype html
html(lang="en")
  head
    include ../layouts/_Settings.pug
    -
      path = 'news.html';
      pageTitle = '最新消息';
      infoTitle = '最新消息後面的資訊標題';
      description = '最新消息的網頁描述';
    include ../layouts/_Head.pug
  body
    include ../layouts/_Header.pug

    section.l-news
      .container
        .row.--gap
          -
            const newsList = [
              {
                date: '2021.04.12',
                title: '大港 防疫公告！',
                content: '【入場需先填寫 Line 實聯制問卷才能兌換手環】 如何填寫實聯制...',
                img: '../img/news/news01.jpg',
                link: 'news/detail/news01.html'
              },
              {
                date: '2021.05.10',
                title: '金牌台啤x大港開唱 聯名限定上市',
                content: 'Untitled Document 為在地音樂乾一杯！ 金牌台啤x大港開唱聯名啤酒限定上市 高雄最具代表性的大型音樂...',
                img: '../img/news/news02.jpg',
                link: 'news/detail/news02.html'
              },
              {
                date: '2021.05.24',
                title: '大港開唱 x MegaFun',
                content: '✧ 好耍 ✧趣味 ✧足歡喜 大港娛樂特區MegaFun全方位手冊 . ** MEGADIVE 孤枝大夫 ** 輕鬆享受人體衝浪支...',
                img: '../img/news/news03.jpg',
              },
              {
                date: '2021.06.17',
                title: '大港帥口罩',
                content: '想要這個大港口罩嗎？填寫實聯制問卷就送給你 #只送不賣 #有大港單雙日票券者才可兌換...',
                img: '../img/news/news04.jpg',
              },
              {
                date: '2021.06.22',
                title: '官方周邊 正式公佈！',
                content: '敲破碗的大港周邊這不就來了嗎 . 定番款大港毛巾必收 漁夫帽門簾與工作衫首次登場 超搶眼...',
                img: '../img/news/news05.jpg',
              },
              {
                date: '2021.07.10',
                title: '大港線上直播 來囉！',
                content: '沒買到大港票的朋朋，線上直播來啦 . 大港開唱與LINE TODAY獨家合作 #南霸天、 #女神龍...',
                img: '../img/news/news06.jpg',
              }
            ];
          each item in newsList
            .col-md-3
              +Card(item)

    include ../layouts/_Footer.pug
    include ../layouts/_Scripts.pug
