include components/_ArtistCard.pug
include components/_Card.pug

doctype html
html(lang="en")
  head
    include layouts/_Settings.pug
    include layouts/_Head.pug
  body
    include layouts/_Header.pug

    main.l-main 
      .l-hero(data-aos="fade" data-aos-offset="0")
        //- 引入插件基本步驟
        //- 引入 CSS、引入 JS、寫插件要求的 HTML 結構、用 JS 初始化插件
        .swiper.l-hero__swiper 
          .swiper-wrapper 
            .swiper-slide.l-hero__slide
              .l-hero__img-mask 
                img.u-object-fit.js-lazy(data-src="img/banner/banner-img01.jpg", alt="大港開唱")
            .swiper-slide.l-hero__slide
              .l-hero__img-mask 
                img.u-object-fit.js-lazy(data-src="img/banner/banner-img02.jpg", alt="大港開唱")
            .swiper-slide.l-hero__slide
              .l-hero__img-mask 
                img.u-object-fit.js-lazy(data-src="img/banner/banner-img03.jpg", alt="大港開唱")  

      section.--gradient.u-pb-0.l-lineup
        .container
          //- h2.u-ff-en.u-text-4xl.u-fw-900.u-color-secondary LINEUP
          h2.o-section-title.u-mb-40(data-aos="fade-up") LINEUP
            span.o-section-title__subtitle MEGAPORT FESTIVAL

          //- h2.u-text-4xl.l-lineup__title LINEUP，
          //-   span.u-inline.u-color-secondary MEGAPORT FESTIVAL
          //-   | dsafdhsfdgh

          .row.--gap
            .col-md-5.l-lineup__wrap 
              +ArtistCard({
                name: '9m88',
                img: 'img/lineup/lineup01.jpg',
                link: 'map.html'
              })
              //- article.c-artist-card 
              //-   a.c-artist-card__link(href="##")
              //-     h3.u-text-xl.u-fw-900 9m88
              //-     .c-artist-card__img-mask 
              //-       img.u-object-fit(src="img/lineup/lineup01.jpg", alt="9m88 形象照")

            .col-md-7.l-lineup__wrap 
              +ArtistCard({
                name: '恆月三途',
                img: 'img/lineup/lineup02.jpg',
                size: 'lg' 
              })
              //- article.c-artist-card.--size-lg
              //-     a.c-artist-card__link(href="##")
              //-       h3.u-text-xl.u-fw-900 恆月三途
              //-       .c-artist-card__img-mask
              //-         img.u-object-fit(src="img/lineup/lineup02.jpg", alt="恆月三途 形象照")
            .col-xl-4.col-md-7.l-lineup__wrap 
              +ArtistCard({
                name: 'Beyound Cure',
                img: 'img/lineup/lineup03.jpg',
                size: 'lg',
                direction: 'reverse'
              })
              //- article.c-artist-card.--size-lg.--reverse
              //-   a.c-artist-card__link(href="##")
              //-     h3.u-text-xl.u-fw-900 Beyound Cure
              //-     .c-artist-card__img-mask
              //-       img.u-object-fit(src="img/lineup/lineup03.jpg", alt="Beyound Cure 形象照")
            .col-xl-4.col-md-5.l-lineup__wrap
              +ArtistCard({
                name: 'Dudu King',
                img: 'img/lineup/lineup04.jpg',
                direction: 'reverse'
              })
              //- article.c-artist-card.--reverse
              //-   a.c-artist-card__link(href="##")
              //-     h3.u-text-xl.u-fw-900 Dudu King
              //-     .c-artist-card__img-mask
              //-       img.u-object-fit(src="img/lineup/lineup04.jpg", alt="Dudu King 形象照")
            .col-xl-4.col-md-5.offset-xl-0.offset-md-4.l-lineup__wrap
              +ArtistCard({
                name: 'Da Wang',
                img: 'img/lineup/lineup05.jpg',
                direction: 'reverse'
              })
              //- article.c-artist-card.--reverse
              //-   a.c-artist-card__link(href="##")
              //-     h3.u-text-xl.u-fw-900 Da Wang
              //-     .c-artist-card__img-mask
              //-       img.u-object-fit(src="img/lineup/lineup05.jpg", alt="Da Wang 形象照")

      section.l-home-news
        button.l-home-news__swiper-btn.--prev 
          iconify-icon.u-icon(icon="fa-solid:arrow-left")
        button.l-home-news__swiper-btn.--next 
          iconify-icon.u-icon(icon="fa-solid:arrow-right")
        .container
          h2.o-section-title.--align-center.u-mb-80(data-aos="fade-up") NEWS
            span.o-section-title__subtitle MEGAPORT FESTIVAL

          .swiper.l-home-news__swiper(data-aos="fade-up") 
            .swiper-wrapper
              -
                const newsList = [
                  {
                    date: '2021.04.12',
                    title: '大港 防疫公告！',
                    content: '【入場需先填寫 Line 實聯制問卷才能兌換手環】 如何填寫實聯制...',
                    img: 'img/news/news01.jpg',
                    link: 'news.html'
                  },
                  {
                    date: '2021.05.10',
                    title: '金牌台啤x大港開唱 聯名限定上市',
                    content: 'Untitled Document 為在地音樂乾一杯！ 金牌台啤x大港開唱聯名啤酒限定上市 高雄最具代表性的大型音樂...',
                    img: 'img/news/news02.jpg',
                  },
                  {
                    date: '2021.05.24',
                    title: '大港開唱 x MegaFun',
                    content: '✧ 好耍 ✧趣味 ✧足歡喜 大港娛樂特區MegaFun全方位手冊 . ** MEGADIVE 孤枝大夫 ** 輕鬆享受人體衝浪支...',
                    img: 'img/news/news03.jpg',
                  },
                  {
                    date: '2021.06.17',
                    title: '大港帥口罩',
                    content: '想要這個大港口罩嗎？填寫實聯制問卷就送給你 #只送不賣 #有大港單雙日票券者才可兌換...',
                    img: 'img/news/news04.jpg',
                  },
                  {
                    date: '2021.06.22',
                    title: '官方周邊 正式公佈！',
                    content: '敲破碗的大港周邊這不就來了嗎 . 定番款大港毛巾必收 漁夫帽門簾與工作衫首次登場 超搶眼...',
                    img: 'img/news/news05.jpg',
                  },
                  {
                    date: '2021.07.10',
                    title: '大港線上直播 來囉！',
                    content: '沒買到大港票的朋朋，線上直播來啦 . 大港開唱與LINE TODAY獨家合作 #南霸天、 #女神龍...',
                    img: 'img/news/news06.jpg',
                  }
                ];

              //- JS 的迴圈
              //- - for (let i = 0; i < newsList.length; i++)
              //-   .col-md-3
              //-     +Card(newsList[i])

              //- pug 的迴圈  
              each item in newsList
                .swiper-slide.l-news__slide
                  +Card(item)

      section.--gradient.l-about
        .container 
          h2.o-section-title.u-mb-80(data-aos="fade-right") ABOUT
            span.o-section-title__subtitle MEGAPORT FESTIVAL

        .container.--align-left 
          .row 
            .col-md-7.order-md-0.order-2 
              .l-about__img-mask 
                .l-about__img
            .col-md-5.order-md-0.order-1 
              .l-about__content-wrap(data-aos="fade-up" data-aos-delay="500")
                h3.u-text-2xl.u-mb-16 2022 年即將邁入第十三屆的《大港開唱》
                p.u-fw-500 每年三月於高雄舉辦的大型音樂祭典，受到全台灣及日本香港年輕觀眾的喜愛，近年已成為台灣最具指標性的大型戶外音樂祭活動。
              .l-about__content(data-aos="fade-up" data-aos-delay="500")
                h3.u-text-2xl.u-mb-16 「人生」與「音樂」
                p.u-fw-500 大港舉辦在高雄港邊，獨特的海港地景和人文風情，常勾起人生中各種酸甜苦辣的回憶。也因如此，大港總是邀請有著豐富人生歷程的知名藝人及業界前輩演出，也會與新一代的樂團或藝人一起合作演出，交融出世代之間的化學效應，往往成為當年度為人津津樂道的經典現場...
              .u-mt-64
                +Btn({
                  href: 'about.html',
                  align: 'right'
                }) MORE

    include layouts/_Footer.pug

    //- 公共 scripts
    include layouts/_Scripts.pug
    //- 案需引入
    script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js")
    script.
      const swiper = new Swiper('.l-hero__swiper', {
        effect: 'fade',
        // 緩慢施放比例，拖一點點就可以換張 123
        longSwipesRatio: 0.1,
        loop: true,
        // 類似 duration
        speed: 1200,
        autoplay: {
          delay: 3000,
          // 手動換張時，不停止自動輪播
          disableOnInteraction: false
        }
      });

      const newsSwiper = new Swiper('.l-home-news__swiper', {
        longSwipesRatio: 0.1,
        loop: true,
        speed: 1200,
        // 最後的斷點
        slidesPerView: 'auto',
        spaceBetween: 12,
        centeredSlides: true,
        autoplay: {
          delay: 3000,
          disableOnInteraction: false
        },
        breakpoints: {
          1400: {
            slidesPerView: 4,
            spaceBetween: 32,
            centeredSlides: false,
          },
          992: {
            slidesPerView: 3,
            spaceBetween: 24,
            centeredSlides: false,
          },
          576: {
            slidesPerView: 2,
            spaceBetween: 16,
            centeredSlides: false,
          }
        },
        navigation: {
          prevEl: '.l-new__swiper-btn.--prev',
          nextEl: '.l-new__swiper-btn.--next',
        }
      });