doctype html
html(lang="en")
  head
    include layouts/_Settings.pug
    -
      path = 'map.html';
      pageTitle = '地圖導覽';
      infoTitle = '地圖導覽後面的資訊標題';
      description = '地圖導覽的網頁描述';
      image = 'img/og/og-map.jpg';
    include layouts/_Head.pug
  body
    include layouts/_Header.pug

    h1 我的專案

    include layouts/_Footer.pug
    include layouts/_Scripts.pug

