footer.l-footer
  .o-gotop
    .o-gotop__arrow
      iconify-icon.u-icon.--sm(icon="fa-solid:long-arrow-alt-up")
    .o-gotop__text TOP

  .l-footer__date-mask
    img.l-footer__img-date(src=`${baseUrl}/img/footer/footer-date.svg`, alt="大港開唱資訊")

  .l-footer__menu
    ul.l-footer__btn-box
      li.l-footer__btn-wrap
        a.l-footer__btn(href="##")
          span.l-footer__text.--en.u-ff-en INFO
          span.l-footer__text.--zh 相關資訊
      li.l-footer__btn-wrap
        a.l-footer__btn(href="##")
          span.l-footer__text.--en.u-ff-en NEWS
          span.l-footer__text.--zh 最新消息
      li.l-footer__btn-wrap
        a.l-footer__btn(href="##")
          span.l-footer__text.--en.u-ff-en ARTISTS
          span.l-footer__text.--zh 藝人名單
      li.l-footer__btn-wrap
        a.l-footer__btn(href="##")
          span.l-footer__text.--en.u-ff-en TIMETABLE
          span.l-footer__text.--zh 節目表
      li.l-footer__btn-wrap
        a.l-footer__btn(href="##")
          span.l-footer__text.--en.u-ff-en TICKET
          span.l-footer__text.--zh 購票資訊
      li.l-footer__btn-wrap
        a.l-footer__btn(href="map.html")
          span.l-footer__text.--en.u-ff-en MAP
          span.l-footer__text.--zh 地圖導覽

    ul.l-footer__link-box.u-mt-16.u-mb-16
      li.l-footer__link-wrap
        a(href="https://www.facebook.com//megaportfest/" target="_blank")
          iconify-icon.u-icon(icon="mingcute:facebook-fill")
      li.l-footer__link-wrap
        a(href="https://www.instagram.com/megaportfest/" target="_blank")
          iconify-icon.u-icon(icon="mingcute:ins-fill")
      li.l-footer__link-wrap
        a(href="https://www.youtube.com/channel/UC7xWU14_GGYKVqoSLg1M8EQ/feed" target="_blank")
          iconify-icon.u-icon(icon="mingcute:youtube-fill")

    .u-text-sm © 2024 Jarvis Course. All rights reserved.
