-
  const baseUrl = 'http://127.0.0.1:5502/dist';
  const siteName = '（專案實作）Megaport Festival 大港開唱 2021';
  // 頁面路徑
  let path = '';
  let pageTitle = '';
  let infoTitle = '網頁前端設計，建立開發環境並實作完整互動式網站';
  let description = '赫綵設計學院網頁前端設計實務整合應用，建立開發環境並實作完整互動式網站';
  let image = 'img/og/og.jpg';
